<div class="max-w-md">
  <div class="text-5xl font-bold my-4">{{ section.settings.title }}</div>
  <div class="my-4">
    <p class="text-base md:text-xl leading-normal">{{ section.settings.subtext }}</p>
  </div>
</div>

{% schema %}
{
  "name": "template 404",
  "tag": "section",
  "class": "flex items-center justify-center text-center p-7 h-screen",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "404",
      "label": "404 heading title"
    },
    {
      "type": "text",
      "id": "subtext",
      "default": "Sorry, the page you are looking for does not exist.",
      "label": "404 subtext"
    }
  ]
}
{% endschema %}
